<div style="max-width: 500px; margin: 0 auto; padding: 20px">
  <div style="margin-bottom: 30px">
    <ppr-notification
      type="danger"
      titleText="Error"
      messageText="Credit card declined"
    ></ppr-notification>
  </div>

  <div style="margin-bottom: 30px">
    <ppr-notification
      type="info"
      titleText="Success"
      messageText="Payment success"
    ></ppr-notification>
  </div>

  <div style="margin-bottom: 30px">
    <ppr-notification
      type="warning"
      titleText="Attention"
      messageText="Please check your credit card number"
    ></ppr-notification>
  </div>
</div>
